@import url(./color.css);

/* Footer container styling */
.footer-container {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 100px;
    padding: 20px 0;
    background: linear-gradient(135deg, #FAAD4F 30%, #DD2A7B 0, #9537B0 50%, #515BD4 70%), rgba(255, 255, 255, 0.8);
    
    
}

/* Inner content of the footer */
.footer-container .footer-inner {

    width: 1550px;
    padding: 20px;
    text-align: center;
}

/* Styling for logos and icons in the footer */
.footer-container .footer-inner .logo-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container .footer-inner .logo img {
    width: 150px;
}

.footer-container .footer-inner .icon img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

/* Line separator styling */
.footer-container .footer-inner .line {
    border-top: 1px solid var(--color-secondary);
    margin: 20px 0;
}

/* Copyright text styling */
.footer-container .footer-inner .copyright h4 {
    font-size: 14px;
    color: black;
    font-weight: normal;
}

/* Media query for adjustments on smaller screens */
@media (max-width: 678px) {
    .footer-container .footer-inner {
        padding: 10px;
    }

    .footer-container .footer-inner .logo img {
        width: 100px;
    }

    .footer-container .footer-inner .icon img {
        width: 24px;
        height: 24px;
        margin: 0 5px;
    }
}