.footer-container {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 100px;
    padding: 20px 0;
}
.footer-container .footer-inner {

    width: 1550px;
    padding: 20px;
    text-align: center;
}

.footer-container .footer-inner .logo-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container .footer-inner .logo img {
    width: 150px;
}

.footer-container .footer-inner .icon img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.footer-container .footer-inner .line {
    border-top: 1px solid var(--color-secondary);
    margin: 20px 0;
}

.footer-container .footer-inner .copyright h4 {
    font-size: 14px;
    color: #2F4858;
    font-weight: normal;
}

/* Adjustments for smaller screens */
@media (max-width: 678px) {
    .footer-container .footer-inner {
        padding: 10px;
    }

    .footer-container .footer-inner .logo img {
        width: 100px;
    }

    .footer-container .footer-inner .icon img {
        width: 24px;
        height: 24px;
        margin: 0 5px;
    }
}