
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
h1 {
    font-size: 48px;
    margin: 0;
}
h2 {
    font-size: 38px;
    margin: 0;
}
h3 {
    font-size: 32px;
    margin: 0;

}
h4 {
    margin: 0;
}
span {
    color: #E93636;
    text-decoration: underline;
}



.container {
    display: flex;

}
.side-bar {
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 876px;
    background-color: #EDEDE9;
    border-radius: 12px;
    border: 1px solid #A0B181;
    
}
.side-bar .profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 40px 0;
    
}
.side-bar .dashboard-tab {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 16px;

}
.side-bar .dashboard-tab .tab {
    padding: 16px 20px;
    gap: 67px;
    border: 1px solid #A0B181;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
}
.side-bar .dashboard-tab .tab .icon {
    display: flex;
    align-items: end;
    gap: 10px;
  
}
.content {
    margin-right: 48px;
    margin-left: 52px;
    width: 100%;
    display: flex;
    justify-content: center;
} 
.content .content-inner {
    max-width: 1550px;
}
.content .content-inner .header {
    display: flex;
    justify-content: center;
    border: 1px solid #A0B181;
    background-color: #EDEDE9;
    border-radius: 12px;
    margin: 40px 0;
    padding: 16px;
}
.content .sub-content {
    display: flex;
    justify-content: space-between;
    gap: 72px;
}
.content .sub-content .sub-content-inner {
    margin: 33px 0;
    display: flex;
    gap: 50px;

}
.content .card-dashbaord {
    display: flex;
    max-width: 466px;
    padding: 30px 33px;
    border-radius: 12px;
    background-color: #EDEDE9;
    border: 1px solid #A0B181;


}
.content .card-dashbaord .content-text {
    padding-right: 50px;
}
.content .card-dashbaord .category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content .sub-content .quote-content {
    max-width: 365px;
    background-color: #EDEDE9;
    display: inline-flex;
    flex-direction: column;
    border: 1px solid #A0B181;
    border-radius: 12px;
    align-items: center;
    padding: 16px  60px; 
}
.content .sub-content .quote-content {
    max-width: 232px;
}
.content .sub-content .quote-content .quote p {
    font-size: 24px;
    margin-top: 61px;
    margin-bottom: 31px;
}

.footer-container {
    display: flex;
    justify-content: center;
    background-color: #EDEDE9;
    border: 1px solid #A0B181;
    margin-top: 100px;
}
.footer-container .footer-inner {
    width: 1550px;
    margin-top: 30px;
    margin-bottom: 21px;

    
}
.footer-container .footer-inner .logo-icon {
    display: flex;
    justify-content: space-between;
    
}

.footer-container .footer-inner .line {
    border: 1px solid black;
    margin: 18px 0;
}
.footer-container .footer-inner .copyright {
    text-align: center;
}