@media (max-width: 677px) {

    /* Navbar styling for smaller screens */
    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1000; 
    }
    
    /* Style for profile image in the navbar */
    .nav-bar img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transition: transform 0.3s ease;
        cursor: pointer;
    }
    
    /* Hover effect for profile image */
    .nav-bar img:hover {
        transform: scale(1.1);
    }
    
    /* Style for text in the navbar */
    .nav-bar h2 {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: var(--color-primary);
        margin: 0;
        padding: 0;
    }
    
     /* Tab bar styling for smaller screens */
    .tab-bar {
        display: flex; 
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        margin-top: auto; 
        z-index: 1000;
    }

    /* Styling for individual tabs in the tab bar */
    .tab-bar .tab {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

     /* Hover effect for tabs in the tab bar */
    .tab-bar .tab:hover {
        background-color: var(--color-hover);
        transform: scale(1.1);
    }

     /* Styling for icons inside tabs */
    .tab-bar .tab img {
        width: 24px;
        height: 24px;
    }

    /* Content section styling */
    .content {
        padding-bottom: 100px; 
        flex: 1;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    /* Inner content area to occupy remaining space */
    .content-inner {
        flex-grow: 1;
    }
}