/* Card view container */
.view-card {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 20px;
  
    width: calc(100% - 40px);
    overflow: hidden; 
}

/* Container for action buttons */
.button-container {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
}

/* Styling for buttons */
button {
    padding: 12px;
    border: none;
    border-radius: 50%; 
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Icon within buttons */
button svg {
    width: 24px;
    height: 24px;
    fill: #003554; 
}

/* Hover effect for exit button */
.exit-button:hover svg {
    fill: #FF6347;
}

/* Hover effect for edit button */
.edit-button:hover svg {
    fill: #00BFFF; 
}

/* Hover effect for delete button */
.delete-button:hover svg {
    fill: #DC143C; 
}

/* Hover effect for all buttons */
.button-container button:hover {
    background-color: rgba(0, 0, 0, 0.05); 
}

/* Heading style */
.view-card .heading h2 {
    font-size: 36px;
    font-weight: bold;
    color: #2F4858;
    margin-bottom: 20px;
}

/* Metadata information */
.view-card .meta-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #8798AD;
    font-size: 20px;

}

/* Specific styling for created date */
.view-card .meta-info .created-date
.view-card .meta-info h3 {
    color: #8798AD;
    font-size: 20px;
}

/* Container for created date */
.view-card .meta-info .created-date {
    display: flex;
    align-items: center;

}

/* Mobile date specific style */
.view-card .meta-info .created-date .date-mob h3{
    font-size: 20px;
    text-wrap: nowrap;

}
h3 {
    font-size: 20px;
}
.date-mob, .date {
    padding: 0 16px;
}

/* Styling for SVG icons in metadata */
.view-card .meta-info svg {
    width: 15px;
    height: 15px;
    fill: #4C6B73;
    margin-right: 8px;
}

.view-card .meta-info .tag {
    display: flex;
    gap: 8px;
}

/* Mood section styling */
.view-card .mood {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #8798AD;
    font-size: 20px;
}

.view-card .mood-icons {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Body text styling */
.body-text {
    max-width: 1550px;
}
.view-card .body-text p {
    font-size: 18px;
    line-height: 1.8;
    color: #4E4E4E;
    text-align: left; 
    margin-top: 20px;
}


.view-card .body-text ul {
    margin-top: 10px;
    padding-left: 20px;
}

/* Divider line styling */
.view-card .line {
    border-top: 2px solid #D1D5DB;
    margin: 30px 0;
}
.body-text {
    margin: 0 auto; 
    max-width: 1550px;
    padding: 10px 20px; 
}

/* Media query for screens up to 768px wide */
@media (max-width: 768px) {
    .view-card .heading h2 {
        font-size: 28px ; 
    }
    
    .view-card .meta-info {
        font-size: 16px;
    }
    .view-card .meta-info h3 {
        font-size: 16px;
    }
    .view-card .mood {
        font-size: 16px;
    }
    
    .view-card .body-text p {
        font-size: 16px;
    }
    .view-card .meta-info {
        flex-direction: column;
        align-items: start;
        gap: 10px;
        margin-bottom: 10px;
    }
    .view-card .meta-info .created-date .date-mob h3 {
        font-size: 16px;
        margin-left: 10px;
        
    }
    .view-card .meta-info svg {
        width: 14px;
    }
    .date {
        display: none;
    }
}

/* Media query for screens larger than 768px */
@media (min-width: 768px) {
    .body-text {
        display: flex;
        justify-content: center; 
        flex-direction: column;
        gap: 10px;
    }
    .date-mob {
        display: none;
    }
}
