.heading input {
    width: 100%;
    border: none;
    color: #2F4858;
    font-size: 36px;
    font-weight: bold;

}
.heading input:focus {
    outline: none;
  
}
.meta-info .created-date svg, .meta-info .tag h3 {
    margin-right: 5px;
}
.input-tag {
    color: #8798AD;
    font-size: 18px;
    font-weight: 600;
    border: none;

}
.input-body-text {
    width: 100%;
    font-size: 18px;
    line-height: 1.8;
    color: #4E4E4E;
    text-align: left; 
    border: none;
    height: 300px;
    max-height: 500px;
}

.input-tag:focus, .input-body-text:focus {
    outline: none;
}
